.createStudy-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .curriculum-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .curriculum-input {
    width:500px;
    flex-grow: 1;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .remove-btn, .add-btn {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .remove-btn {
    height: 40px;          /* 버튼의 높이를 조정 */
    padding: 8px 16px;     /* 상하 패딩을 줄이고 좌우 패딩을 조정 */
    line-height: 24px;     /* 텍스트의 라인 높이를 조정 */
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;       /* 필요에 따라 폰트 사이즈 조정 */
  }
  
  .add-btn {
    display: block;
    width: 100%;
  }
  

  .tags-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .tags-input {
    width:500px;
    flex-grow: 1;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }


  .createStudy-container{
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    
}


.form-group{
    text-align: left;
}


.categoryBtn {
    background-color: #DCDCDC; /* 기본 배경색 */
    border: 1px solid #d1d1d1;
    padding: 8px 16px;
    margin: 2px;
    width:118px;
    height:77px;
    border-radius: 20px;
  }

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #3f3f3f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


.submit-button:hover {
    background-color: #000000;
}
