.search-container {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    padding-right: 20px; /* 오른쪽으로부터 20px 거리 */
    margin-top: 20px; /* 상단 여백, 필요에 따라 조정 */
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 50%; /* 입력 상자의 너비, 필요에 따라 조정 */
    padding: 15px 20px; /* 텍스트 입력 영역의 내부 여백 */
    border: 2px solid #747576; /* 테두리 설정 */
    border-radius: 25px; /* 둥근 모서리 */
    outline: none; /* 포커스시 테두리 제거 */
    font-size: 16px; /* 글꼴 크기 */
  }


.notice-wrapper {
    display: flex;
    flex-direction: column;
    /*margin-bottom: 20px;*/
    border-top: 1px solid #3f3f3f;  /* corrected color code and added border style */
    border-bottom: 1px solid #3f3f3f;
  }
  
  .title{
    /*background-color: #007BFF;*/
    font-size:30px;
    font-weight:bold;
    text-align: left;
    padding: 10px;
    color: black;
    margin-bottom: 5px; /* Spacing between title and content */
  }

  .content{
    padding: 10px;
    text-align: left;
    color: black;
    margin-bottom: 5px; /* Spacing between title and content */
  }
  
  .created_at {
    align-self: flex-end;
    background-color: #b6b5b5; /* Darker blue for distinction */
    padding: 5px;
    color: #3f3f3f;
    
  }
  