/********* 기본 스타일 *********/
.introduce {
  width: 100%; /* 너비를 100%로 설정하여 화면 전체 너비를 차지하도록 함 */
  background-color: #d4f3f3; /* 연한 하늘색 배경 */
  padding: 10px 0; /* 상하 패딩 유지, 좌우 패딩 제거 */
  border: 3px solid white; /* 흰색 테두리 추가 */
}

.rowValue {
  display: flex;
  justify-content: space-between;
  align-items: center; /* 세로 중앙 정렬 */
  padding: 10px;
}

.intro-img,
.introduce-content {
  flex: 1; /* 각 요소에 동일한 너비 부여 */
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introImg {
  max-width: 70%; /* 이미지 최대 너비 조정 */
  height: auto; /* 높이 자동 조절 */
}

.introduce-content {
  display: block; /* 플렉스 속성으로 인한 문제 방지 */
  text-align: left;
  justify-content: center;
}

.introduce-title {
  font-size: 50px; /* 제목의 폰트 사이즈 설정 */
  color: #006080; /* 제목의 색상 설정 */
  margin-bottom: 20px;
}

.introduce-text {
  font-size: 20px; /* 텍스트의 폰트 사이즈 설정 */
}

/********* 버튼 스타일 *********/
.create-study-button {
  background-color: #add8e6; /* 연한 하늘색 배경 */
  color: #006080; /* 어두운 청록색 글자 */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 30px;
  transition: background-color 0.3s, color 0.3s; /* 부드러운 색상 전환 효과 */
}

.create-study-button:hover {
  background-color: #9d9c9c; /* 호버 시 색상 변경 */
}

.create-study-button:active {
  background-color: #009688; /* 클릭 시 색상 변경 */
  color: #fff; /* 클릭 시 글자 색상 변경 */
}

/********* 스터디 리스트 스타일 *********/
.studyList {
  width: 100%; /* 전체 너비 설정 */
  display: flex;
  flex-direction: column;
}

.divwrapper-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* 가운데 정렬 */
  margin-top: 20px;
  gap: 20px;
}

.div-wrapper {
  display: flex;
  margin: 10px;
  flex-direction: column; /* 이미지와 텍스트를 세로로 배치 */
  text-align: left;
  gap: 10px; /* flex container 내부의 요소들 간의 간격 */
}

.div-wrapper-img {
  width: 400px !important;
  height: 216px !important;
  object-fit: cover !important; /* 이미지가 컨테이너를 채우도록 설정 */
  border-radius: 8px !important; /* 모서리를 둥글게 처리 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !important; /* 그림자 설정 */
}
.div-wrapper .div-wrapper-text {
  line-height: 1.5;
}

/********* 코드 에디터 스타일 *********/
.code-editor-container {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.code-editor-textarea {
  width: 100%;
  font-family: "Fira Code", monospace;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: pre-wrap;
  word-wrap: break-word;
  resize: none;
  background: #f5f2f0; /* background similar to coy theme */
  color: #393a34; /* default text color similar to coy theme */
  line-height: 1.5;
  font-size: 16px;
  overflow: auto;
  min-height: 200px; /* Ensure a minimum height */
}

.code-editor-highlight {
  width: 100%;
  font-family: monospace;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-height: 100%;
  overflow: hidden;
  pointer-events: none;
}

/********* 기타 스타일 *********/
.content1 {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  width: 100%; /* 전체 너비 */
  background-color: #a2a2a2; /* 배경색 설정 */
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%; /* 부모 요소와 동일한 너비 */
}
